{% extends 'base2.html' %}

{% block title %}

{% endblock %}

{% block content %}
<div class="content" >
  <h1 style="text-align: center">Election funding strategyzer</h1>


    <h6 style="text-align: center">Use your own info, or try to identify your target group from their past voting behaviour <br>
        Hover over the text for info on how the parameters are used to on the analysis.</h6>
    <br>
    <br>

    <form style="text-align: center" action="#" method="POST">


  <p title = 'By population small municipals get pooled'>Here's the list of municipals. Select any one</p>
       <!---Kuntanumeron valinta --->

        <select name = "Municipal">

           {% for kunta in municipal_names %}
           <option value = {{kunta}} selected>{{ kunta }}</option>
           {% endfor %}
       </select>
      
       <!--- Budget selection  --->
        <br>
        <br>
        <p>Assign your budget</p>
      <input type="int" id="budget" name="budget" value="1000"><br>


        <br>



        <input type="submit" value="Analyze">

    </form>

</div>

{% endblock %}


